.tabs {
    list-style-type: none;
    
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding-left: 5px;
    position: relative;
    top: 1px;
}

.tabs li {
    background: none;
    border: 1px solid black;
    
	float: left;
	margin-right: 5px;
}

.tabs li a {
	font-weight: bold;
	text-decoration: none;
    color: black;
	
	display: block;
	padding: 3px 8px;
}

.tabs li a:hover {
    background: silver;
	color: black;
}

.activetab {
	background: white !important;
    border-bottom: 1px solid white !important;
}

.activetab a {
    color: black !important;
}

.paneContainer {
    background: white;
    border: 1px solid black;
    
    width: 100%;
    height: 100%;
	margin: 0;
}

.pane {
	height: 100%;
	overflow: auto;
    padding: 5px;
}