.tabList {
    list-style-type: none;
    padding: 0 0 0 5px;
    margin: -1px 0 0;
    position: relative;
    top: 1px;
    overflow: hidden;
}

.tab {
    background: none;
    border: 1px solid black;
    float: left;
    margin-right: 5px;
}

.tab a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    display: block;
    padding: 3px 8px;
}

.tab a:hover {
    background: silver;
    color: black;
}

.tab.activetab {
    background: white !important;
    border-bottom: 1px solid white !important;
}

.paneContainer {
    background: white;
    border: 1px solid black;
    height: 100%;
    overflow: auto;
}

.pane {
    padding: 5px;
    display: none;
}

.pane.activepane {
    display: block;
}
